@use '../mixins.scss' as *;


.homepage{
     @include size(auto, auto, $main, white);
     min-height: 100vh;
     @include grid(auto 1fr auto, 1fr, '' , '');
     grid-template-areas: 'header'
                          'main'
                          'footer'    
     ;
     main{
          .main{
               h1{
                    font-family: sans-serif;
                    font-size: 3rem;
               }
               .bioContainer{
                    @include flex(center,center,row,0);
                    min-height: 300px;
                    .bio{
                         border: 1px solid $border;
                         width: 100%;
                         min-height: 100px;
                         border-radius: 15px;
                         padding: 25px;
                         h1{
                              min-height: 40px;
                              padding-top: 5px;
                              font-size: 1.8rem;
                              @include flex(center,space-between,row,0);
                              div{
                                   @include flex(center,center,row,15px);
                                   a{
                                        color: white;
                                        font-size: 1.5rem;
                                        border: 2px solid $border;
                                        cursor: pointer;
                                        height: 35px;
                                        border-radius: 5px;
                                        width: 35px;
                                        @include flex(center,center,row,0);
                                   }
                              }
                         }

                         .location{
                              color: gray;
                              font-family: sans-serif;
                         }

                         p{
                              min-height: 70px;
                              padding-top: 5px;
                              font-size: 1.4rem;
                              @include flex(center,start,row,0);
                         }

                    }
               }


               .skillsContainer{
                    min-height: 350px;
                    .skills{
                     display: flex;
                     flex-direction: column;
                     height: 250px;
                         div{
                              padding: 15px;
                              @include flex(start,space-evenly,row,15px);
                              flex-wrap: wrap;
                              margin-bottom: 15px;
                              border-radius: 5px;
                              border: 1px solid $border;
                              height: 300px;
                              span{
                                   width: 150px;
                                   height: 60px;
                                   @include flex(center,center,row,0);
                                   font-size: 1.5rem;
                                   svg{
                                        width: 50px;
                                        height: 50px;
                                   }
                              }
                         }
                    }
               }



               .experienceContainer{
                    min-height: 600px;
                    .experience{
                         .container{
                              @include grid(1fr, 50px 1fr, start ,start);
                              min-height: 150px;
                              .arrow{
                                   @include flex(center,center,row,0);
                                   height: 100%;
                                   position: relative;
                                   .dot{
                                        border-radius: 50%;
                                        background-color: rgb(74, 191, 113);
                                        width: 15px;
                                        border: 4px white solid;
                                        height: 15px;
                                        z-index: 2;
                                   }
                                   .line{
                                        background-color: white;
                                        position: absolute;
                                        width: 1px;
                                        height: 100%;
                                        
                                   }
                                   .top{
                                        height: 50%;
                                        bottom: 0;
                                   }
                                   .middle{
                                        height: 100%;
                                   }
                                   .bottom{
                                        top: 0;
                                        height: 50%;
                                   }
                              }
                              .information{
                                   grid-column: 2;
                                   @include flex(start,end,column,0);
                                   height: 100%;
                                   width: 100%;
                                   .title{
                                        color: $links;
                                        font-size: 1.5rem;
                                        font-family: sans-serif; 
                                        position: relative;
                                        cursor: pointer;
                                        &:before{
                                             content: '';
                                             position: absolute;
                                             width: 0;
                                             height: 2px;
                                             background-color: $links;
                                             top: 100%; 
                                             transition: width 0.2s ease;
                                        }
                                        &:hover::before{
                                             width: 100%;
                                        }
                                   }
                                   .date{
                                        color: rgb(159, 159, 159);
                                        margin-top: 2px;
                                   }
                                   .description{
                                        min-height: 20px;
                                        padding: 10px;
                                        padding-left: 0;
                                        font-size: 1.5rem;
                                        color: rgb(216, 216, 216);
                                   }
                              }
                         }
                    }
               }



          }
     }
}